<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Invoices List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Invoice Number</th>
          <th>Buyer Name</th>
          <th>Seller Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices | async">
          <td>{{invoice.invoiceNumber}}</td>
          <td>{{invoice.buyer.name}}</td>
          <td>{{invoice.seller.name}}</td>
          <td>
            <button (click)="editInvoice(invoice.id)" class="btn btn-success">Edit</button>
            <button (click)="deleteInvoice(invoice.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            <button (click)="invoiceDetails(invoice.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            <button (click)="downloadAsPdf(invoice.id)" class="btn btn-info" style="margin-left: 10px">PDF</button>
          </td>
        </tr>
      <tr>
        <td></td><td></td><td></td>
        <td>
          <button (click)="downloadAsZip()" class="btn btn-info"> Download all invoices as ZIP</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
