<h3>Create Invoice</h3>

<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">

  <label>
    Invoice Number: <br/>
    <input type="text" placeholder="Invoice number" formControlName="invoiceNumber">
  </label>
  <label style="margin-left: 10px">
    Date: <br/>
    <input type="date" placeholder="Date" formControlName="date">
  </label>

  <div formGroupName="buyer">
    <h5>Buyer</h5>
    <label>
      Tax Identification Number: <br/>
      <input type="text" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
             formControlName="taxIdentificationNumber" minlength="36" maxlength="36">
    </label>
    <label style="margin-left: 10px">
      Address: <br/>
      <input type="text" placeholder="Buyer's address" formControlName="address">
    </label>
    <label style="margin-left: 10px">
      Name: <br/>
      <input type="text" placeholder="Buyer's name" formControlName="name">
    </label>
  </div>

  <div formGroupName="seller">
    <h5>Seller</h5>
    <label>
      Tax Identification Number: <br/>
      <input type="text" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
             formControlName="taxIdentificationNumber" minlength="36" maxlength="36">
    </label>
    <label style="margin-left: 10px">
      Address: <br/>
      <input type="text" placeholder="Seller's address" formControlName="address">
    </label>
    <label style="margin-left: 10px">
      Name: <br/>
      <input type="text" placeholder="Seller's name" formControlName="name">
    </label>
  </div>

  <div formArrayName="entries">
    <h5>Entries</h5>

    <div *ngFor="let entry of entries.controls; let i=index">

      <ng-container [formGroup]="entry">
        <label>
          Description: <br/>
          <input type="text" formControlName="description">
        </label>
        <label style="margin-left: 10px">
          Unit: <br/>
          <input type="text" formControlName="unit">
        </label>
        <label style="margin-left: 10px">
          Quantity: <br/>
          <input type="number" formControlName="quantity">
        </label>
        <label style="margin-left: 10px">
          Unit price: <br/>
          <input type="number" formControlName="unitPrice">
        </label>
        <label style="margin-left: 10px">
          VatRate: <br/>
          <mat-form-field>
            <mat-label>Vat Rate</mat-label>
            <mat-select formControlName="vatRate">
              <mat-option *ngFor="let vat of vatRates" [value]="vat">
                {{vat}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </label>
        <label style="margin-left: 10px">
          <button type="button" class="btn btn-danger" (click)="removeEntry(i)">Remove Entry</button>
        </label>
      </ng-container>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" class="btn btn-info" (click)="addEntry()" style="float: right">Add Entry</button>
  </div>

</form>

